@model banco_alimentos.Models.Beneficiario

@{
    ViewData["Title"] = "Relatorio";
}

<h2>Beneficiário: @Model.Nome</h2>

<div>
    <h5>Histórico de Cestas Retiradas</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tipo de Cesta
                    </th>
                                        <th>
                        Data de Retirada
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Doacoes.OrderByDescending( c => c.Data))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</div>
<div>
    <a asp-action="Index" class=" btn btn-info">Voltar</a>
</div>
