@{
    ViewData["Title"] = "BMA";
}

<div class="text-center">
    <h1 class="display-4">Banco Municipal de Alimentos</h1>
    <div>
        <img src="img/vegetables.png" width="300"/>
    </div>
    <p>.</p>
</div>
