@{
    ViewData["Title"] = "BMA";
}

<div class="text-center">
    <div>
        <img style="margin-top:30px" src="img/logo.png" width="350" />
    </div>
        
    <h1 class="display-4" style="margin-top:30px">Programa Banco de Alimentos</h1>
</div>
