
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="position-absolute top-50 start-50 translate-middle">

    <div class="card border-danger mb-3" style="max-width: 18rem; margin-top:30px">
        <div class="card-header">Atenção!</div>
        <div class="card-body text-danger">
            <h5 class="card-title">ACESSO NEGADO</h5>
            <p class="card-text">Você não tem permissão para acessar a página!</p>
    </div>

</div>

